        <!-- Footer -->

    <div class="container-fluid">
        <div>

            <div class="footer-links clearfix hidden-sm hidden-xs">
                <div class="footer-top-content row">
                    <h2 class="horizontal-line col-xs-12">
                        <strong>무엇을 도와드릴까요?</strong>
                    </h2>
                </div>

                <!--
                <div class="row footer-btn-panel footerForm">
                    <div class="col-sm-2 col-sm-offset-2 thin">
                        <label class="key-label">FIND:</label>
                    </div>

                    <form class="radioForm" name="radioForm">
                        <div class="col-sm-2 thin">

                            <input class="zipRadioButton" type="radio" value="/us/en/content/shopping/offers-and-promotions" id="zip1" name="specialOffers" ng-model="fctrl.zipLocateItem.value" ng-class="{'checked': fctrl.isChecked('/us/en/content/shopping/offers-and-promotions')}" />
                            <label>Special Offers</label>
                        </div>
                        <div class="col-sm-2 thin">

                            <input class="zipRadioButton" type="radio" value="/us/en/dealers/inventory" id="zip2" name="dealerInventory" ng-model="fctrl.zipLocateItem.value" ng-class="{'checked': fctrl.isChecked('/us/en/dealers/inventory')}" />
                            <label>Dealer Inventory</label>
                        </div>
                        <div class="col-sm-3 thin">

                            <input class="zipRadioButton" type="radio" value="/us/en/dealers/locator" id="zip3" name="kiaDealer" ng-model="fctrl.zipLocateItem.value" ng-class="{'checked': fctrl.isChecked('/us/en/dealers/locator')}" />
                            <label>Kia Dealer</label>
                        </div>
                    </form>
                </div>
                -->
                <!--div class="row footer-btn-panel footerForm">
                    <div class="col-sm-2 col-sm-offset-3 thin">
                        <label class="key-label zip-label">NEAR:</label>
                    </div>
                    <div class="col-sm-4 col-md-3 thin zip-form-container">
                        <zip-form valid-zip-callback="fctrl.openURL()"></zip-form>
                    </div>
                </div-->

                <div class="row mar10 marFooterLeft hidden-sm hidden-xs">
                    <div class="col-xs-12 col-sm-3 col-md-3 thin">
                        <h5><a href="/us/kr/vehicles" target='_self'><strong>차량 정보</strong></a></h5>
                        <ul class="nav navbar">
                            <li><a href="/us/kr/vehicles" content="all" class="vehicle-filter" target='_self'>전차종</a></li>
                            <li><a href="/us/kr/vehicles/#midluxury" content="midluxury" class="vehicle-filter" target='_self'>중형 &amp; 럭셔리 세단</a></li>
                            <li><a href="/us/kr/vehicles/#crossover" content="crossover" class="vehicle-filter" target='_self'>크로스오버 &amp; 미니밴</a></li>
                            <li><a href="/us/kr/vehicles/#compact" content="compact" class="vehicle-filter" target='_self'>소형 세단</a></li>
                            <li><a href="/us/kr/vehicles/#hybrid" content="hybrid" class="vehicle-filter" target='_self'>하이브리드 &amp; 전기차</a></li>
                            <li><a href="http://www.kia.com/us/en/content/vehicles/upcoming-vehicles/2018-stinger" target='_self'>출시 예정</a></li>
                            <li><a href="http://www.kia.com/us/en/content/vehicles/concept-cars/cross-gt" target='_self'>컨셉카</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 thin">
                        <h5><a href="http://www.kia.com/us/en/content/shopping-tools/shopping-dashboard" target='_self'><strong>구매 정보</strong></a></h5>
                        <ul class="nav navbar">
                            <li><a href="http://www.kia.com/us/en/build" target='_self'>옵션 &amp; 가격</a></li>
                            <li><a href="http://www.kia.com/us/en/forms/getaquote" target='_self'>차량 견적</a></li>
                            <li><a href="https://ldti.syndication.kbb.com/?ProfileId=5B1C6634-DBE8-403F-AB25-32305701ED6B" target='_blank'>트레이드-인</a></li>
                            <li><a href="http://www.kia.com/us/en/forms/payment-calculator" target='_self'>페이먼트 계산기</a></li>
                            <li><a href="http://www.kia.com/us/en/forms/online-credit-application" target='_self'>신용 조회</a></li>
                            <li><a href="http://www.kia.com/us/en/forms/testdriverequest" target='_self'>시승 신청</a></li>
                            <li><a href="http://www.kia.com/us/en/forms/brochurerequest" target='_self'>브로셔 요청</a></li>
                            <li><a href="http://www.kia.com/us/en/forms/updatesrequest" target='_self'>정보 요청</a></li>
                            <li><a href="http://www.kia.com/us/en/compare" target='_self'>경쟁차 비교</a></li>
                            <li><a href="http://www.kiaaccessoryguide.com" target='_blank'>액세서리</a></li>
                            <li><a href="http://www.kiadistinction.com" target='_blank'>차량유지관리 상품</a></li>

                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 thin">
                        <h5><a href="http://www.kia.com/us/en/content/technology/overview" target='_self'><strong>테크놀러지</strong></a></h5>
                        <ul class="nav navbar">
                            <li><a href="http://www.kia.com/us/en/content/technology/uvo/uvo-update" target='_self'>UVO 소프트웨어 업데이트</a></li>
                            <li><a href="http://www.kia.com/us/en/content/owners/bluetooth" target='_self'>Bluetooth®</a></li>
                            <li><a href="http://www.kia.com/us/en/content/technology/uvo/features/android-auto" target='_self'>Android Auto™</a></li>
                            <li><a href="http://www.kia.com/us/k3/content/media/downloads/technology/apple-carplay/Kia-Apple-CarPlay.pdf" target='_self'>Apple CarPlay™</a></li>
                            <li><a href="http://www.kia.com/us/en/content/technology/overview" target='_self'>첨단 테크놀러지</a></li>
                            <li><a href="http://www.kia.com/us/en/content/technology/performance" target='_self'>성능</a></li>
                            <li><a href="http://www.kia.com/us/en/content/technology/safety" target='_self'>안전</a></li>
                            <li><a href="http://www.kia.com/us/en/content/technology/entertainment/hd-radio" target='_self'>엔터테인먼트</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 thin">
                        <h5><a href="http://www.kia.com/us/en/content/why-kia/leadership/awards/awards-kia-motors" target='_self'><strong>기아자동차의 장점</strong></a></h5>
                        <ul class="nav navbar">
                            <li><a href="http://www.kia.com/us/en/content/why-kia/leadership/awards/awards-kia-motors" target='_self'>수상경력</a></li>
                            <li><a href="http://www.kia.com/us/en/content/why-kia/ratings-and-reviews/kelley-blue-book/overview" target='_self'>평가</a></li>
                            <li><a href="http://www.jobs.net/jobs/kiamotors/en-us/" target='_blank'>채용정보</a></li>
                            <li><a href="http://www.kiamedia.com/" target='_blank'>기아 홍보실</a></li>
                            <li><a href="http://www.kia.com/us/en/content/about-kia/who-we-are" target='_self'>기아자동차에 대하여</a></li>
                            <li><a href="http://www.kia.com/us/en/content/why-kia/quality/overview" target='_self'>품질</a></li>
                            <li><a href="http://www.kia.com/us/en/content/why-kia/community/overview" target='_self'>커뮤니티</a></li>
                            <li><a href="http://www.kia.com/us/en/content/why-kia/built-in-the-usa/overview" target='_self'>미국생산법인 - Built in the USA</a></li>
                            <li><a href="http://www.kia.com/us/en/content/why-kia/partnerships/billboard-music-awards" target='_self'>협력업체</a></li>
                            <li><a href="http://www.kia.com/us/en/content/why-kia/kia-connect" target='_self'>기아 커넥트</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- footer links -->

            <div class="footerTop row">
                <div class="mar10 footer-bottom ">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <ul class="nav navbar-nav footerLinks">
                            <li class="disclaimer-list">

                                <a href="javascript:void(0)" footer-disclaimer="" class="dist-disclaimer ng-isolate-scope" content="">*Disclaimers</a>

                            </li>
                            <li class="hidden-sm hidden-xs"><a href="http://www.kia.com/us/en/content/global-disclaimers/msrp" target='_self'>† Global Disclaimers</a></li>
                            <li class="hidden-sm hidden-xs"><a href="http://www.kia.com/us/en/content/about-kia/who-we-are" target='_self'>About Kia</a></li>
                            <li class="hidden-sm hidden-xs"><a href="http://www.kia.com/us/en/content/privacy-and-legal/privacy-policy" target='_self'>Privacy/Legal (Updated)</a></li>
                            <li class="hidden-sm hidden-xs"><a href="http://www.kia.com/us/en/content/contact-kia/customer-support" target='_self'>Contact Kia</a></li>
                            <li class="hidden-sm hidden-xs"><a href="http://www.kia.com/us/en/content/other-kia-sites/kia-media" target='_self'>Other Kia Sites</a></li>
                            <li class="hidden-sm hidden-xs"><a href="http://www.kia.com/us/en/content/other-kia-sites/mpg-information" target='_self'>MPG Information</a></li>
                            <li class="hidden-sm hidden-xs"><a href="http://www.kia.com/us/en/content/owners/safety-recall" target='_self'>Recalls</a></li>

                            <li class="ad-choice-list"><a href="http://info.evidon.com/pub_info/826?v=1&amp;nt=1&amp;nw=false" target='_blank' title="AdChoices">AdChoices <img src="/us/k4/images/nav-footer-adchoice.png" alt="AdChoices"></a></li>

                            <li class="social-list">
                                <a href="http://www.twitter.com/kia" target='_blank' title="Twitter"><img src="/us/k4/images/nav-social-twitter.png" /></a>
                                <a href="http://www.facebook.com/kia" target='_blank' title="Facebook"><img src="/us/k4/images/nav-social-facebook.png" /></a>
                                <a href="http://www.youtube.com/kia" target='_blank' title="YouTube"><img src="/us/k4/images/nav-social-youtube.png" /></a>
                                <a href="http://www.pinterest.com/kiamotorsusa/" target='_blank' title="Pinterest"><img src="/us/k4/images/nav-social-pinterest.png" /></a>
                                <a href="http://www.instagram.com/kiamotorsusa/" target='_blank' title="Instagram"><img src="/us/k4/images/nav-social-instagram.png" /></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="row copyright-row">
                <p class="col-sm-8">
                    <span class="pull-left copyright-text">
                        &copy;2017 Kia Motors America, Inc. &nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="container-fluid footer-brand">
                <div class="col-sm-4 col-sm-offset-8 col-xs-4 col-xs-offset-5">
                    <div class='footer-logo-container'>
                        <span class="footer-tag">The Power to Surprise</span>
                    </div>
                </div>
            </div>
        </div><!--/row-->
    </div> <!-- container fluid -->

<script type="text/javascript">
    callExternalLink();
    createDisclaimer();
    // adds listener only in case we are in vehicle list
    vehicleFilter();
</script>